@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Roboto+Slab:700,400);

body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    margin: 0 10%;
}

@import "partials/grid";


header {
    h2 {
        font-weight: 700;
        color: #444;
        font-size: 2.5em;
        font-family: 'Roboto Slab';
    }
    input, textarea {
        border: 1px solid #AFAFAF;
        outline: none;
        font-size: 1.3em;
        font-weight: 200;
        &:focus {
            border-color: #ADD6FF;
        }
    }
    input[type="text"] {
        height: 40px;
        font-size: 1.3em;
        font-weight: 200;
        padding-left: 10px;
    }
    input[type="date"] {
        height: 40px;
        border-left: none; 
        outline: none;
        text-align: center
    }
    textarea {
        resize: none;
    }
    button {
        font-weight: 700;
        background-color: transparent;
        outline: none;
        border: 1px solid #AFAFAF;
        height: 40px;
        transition: 0.2s ease-in-out;
        &:hover {
            background-color: #ADD6FF;
            color: #134C85;
            border-color: #1869BA;
        }
        &:focus {
            border-color: #ADD6FF;
        }
    }
}

.task-container {
    margin-bottom: 10px;
    border: 1px solid #AFAFAF;
    width: 100%;
    min-width: 400px;
    display: table;
    height: 90px;
    transition: 0.2s ease-in-out;
    h4, p {
        margin: 0;
    }
    h4 {
        font-family: 'Roboto Slab';
    }
    &:hover {
        border: 1px solid rgba(0, 162, 255, 1);
        background-color: rgba(0, 162, 255, 0.03);
        .task-control .button {
            border-left: 1px solid rgba(0, 162, 255, 1);
        }
    }
    .task-info {
    }
    .task-control {
        overflow: hidden;
        padding: 0;
        height: 90px;
        .button {
            height: 90px;
            border-left: 1px solid #afafaf;
            cursor: pointer;
            overflow: hidden;
            transition: 0.2s;
            
            p {
                line-height: 70px;
                text-align: center;
                transition: 0.2s;
            }
            
            .hidden, .shown {
                position: relative;
                top: 0;
                transition: 0.2s;
            }
            .hidden {
                opacity: 0;
                transition: top 0.3s ease-in-out 0s, opacity 0.3s linear 0s;
            }
            
            &:hover {
                p {
                    color: white;
                }
                .shown {
                    top: -10px;
                }
                .hidden {
                    top: -55px;
                    opacity: 1;
                    transition: top 0.2s ease-in-out 0.1s, opacity 0.1s linear 0.2s;
                }
                &.complete {
                    background-color: blueviolet;
                }
                &.delete {
                    background-color: brown;
                }
            }
        }
    }
}

.task-complete {
    background-color: #EDF2D9;
    &:hover {
        background-color: #E7F4DD;
        border-color: #60C247;
        .task-control .button {
            border-color: #60C247;
        }
    }
}

.repeated-item.ng-enter, .repeated-item.ng-leave, {
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
}

.repeated-item.ng-leave.ng-leave-active,
.repeated-item.ng-enter {
    transform: rotateX(90deg);
    transform-origin: center;
    opacity: 0;
    max-height: 0;
}

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-leave {
    transform: rotateX(0deg);
    transform-origin: center;
    opacity: 1;
    max-height: 90px;
}