@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Roboto+Slab:700,400);
/* line 3, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin: 0 10%; }

/* line 3, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 11, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.grid-container {
  width: 100%;
  max-width: 1200px; }

/* line 16, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.row {
  width: 100%; }

/* line 18, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
[class*='col-'] {
  float: left;
  width: 8.33%;
  min-height: 1px;
  padding: 10px; }
  /* line 23, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
  [class*='col-'].no-padd {
    padding: 0; }

/* line 28, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-12 {
  width: 100%; }

/* line 29, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-11 {
  width: 91.6666666666666667%; }

/* line 30, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-10 {
  width: 83.3333333333333333%; }

/* line 31, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-9 {
  width: 75%; }

/* line 32, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-8 {
  width: 66.6666666666666667%; }

/* line 33, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-7 {
  width: 58.3333333333333333%; }

/* line 34, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-6 {
  width: 50%; }

/* line 35, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-5 {
  width: 41.6666666666666667%; }

/* line 36, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-4 {
  width: 33.3333333333333333%; }

/* line 37, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-3 {
  width: 25%; }

/* line 38, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-2 {
  width: 16.6666666666666667%; }

/* line 39, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.col-1 {
  width: 8.33333333333333333%; }

/* line 43, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
.row,
.row:after,
.row:before {
  content: "";
  display: table;
  clear: both; }

/* line 49, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
hr {
  border: none; }
  /* line 51, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
  hr.small {
    margin-top: 10px; }
  /* line 52, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
  hr.medium {
    margin-top: 20px; }
  /* line 53, C:/Users/gorkah/angularjs-todo/stage2/css/partials/_grid.scss */
  hr.large {
    margin-top: 30px; }

/* line 12, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
header h2 {
  font-weight: 700;
  color: #444;
  font-size: 2.5em;
  font-family: 'Roboto Slab'; }

/* line 18, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
header h4 {
  font-weight: 200;
  font-size: 1.1em; }

/* line 22, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
header input, header textarea {
  border: 1px solid #AFAFAF;
  outline: none;
  font-size: 1.3em;
  font-weight: 200; }
  /* line 27, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  header input:focus, header textarea:focus {
    border-color: #ADD6FF; }

/* line 31, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
header input[type="text"].task-name {
  height: 40px;
  font-size: 1.3em;
  font-weight: 200;
  padding-left: 10px; }

/* line 37, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
header input[type="text"].date-item {
  height: 40px;
  border-left: none;
  outline: none;
  text-align: center; }

/* line 43, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
header textarea {
  resize: none; }

/* line 46, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
header button {
  font-weight: 700;
  background-color: transparent;
  outline: none;
  border: 1px solid #AFAFAF;
  height: 40px;
  transition: 0.2s ease-in-out; }
  /* line 53, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  header button:hover {
    background-color: #ADD6FF;
    color: #134C85;
    border-color: #1869BA; }
  /* line 58, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  header button:focus {
    border-color: #ADD6FF; }

/* line 64, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
.task-container {
  margin-bottom: 10px;
  border: 1px solid #AFAFAF;
  width: 100%;
  min-width: 400px;
  display: table;
  height: 90px;
  transition: 0.2s ease-in-out; }
  /* line 72, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  .task-container h4, .task-container p {
    margin: 0; }
  /* line 75, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  .task-container h4 {
    font-family: 'Roboto Slab'; }
  /* line 78, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  .task-container:hover {
    border: 1px solid #00a2ff;
    background-color: rgba(0, 162, 255, 0.03); }
    /* line 81, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
    .task-container:hover .task-control .button {
      border-left: 1px solid #00a2ff; }
  /* line 87, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  .task-container .task-control {
    overflow: hidden;
    padding: 0;
    height: 90px; }
    /* line 91, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
    .task-container .task-control .button {
      height: 90px;
      border-left: 1px solid #afafaf;
      cursor: pointer;
      overflow: hidden;
      transition: 0.2s; }
      /* line 98, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
      .task-container .task-control .button p {
        line-height: 70px;
        text-align: center;
        transition: 0.2s; }
      /* line 104, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
      .task-container .task-control .button .hidden, .task-container .task-control .button .shown {
        text-align: center;
        position: relative;
        top: 0;
        transition: 0.2s;
        font-weight: 600;
        font-size: 0.75em; }
      /* line 112, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
      .task-container .task-control .button .hidden {
        opacity: 0;
        transition: top 0.3s ease-in-out 0s, opacity 0.3s linear 0s; }
      /* line 118, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
      .task-container .task-control .button:hover p {
        color: white; }
      /* line 121, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
      .task-container .task-control .button:hover .shown {
        top: -10px; }
      /* line 124, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
      .task-container .task-control .button:hover .hidden {
        top: -55px;
        opacity: 1;
        transition: top 0.2s ease-in-out 0.1s, opacity 0.1s linear 0.2s; }
      /* line 129, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
      .task-container .task-control .button:hover.complete {
        background-color: blueviolet; }
      /* line 132, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
      .task-container .task-control .button:hover.delete {
        background-color: brown; }

/* line 140, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
.task-complete {
  background-color: #EDF2D9; }
  /* line 142, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  .task-complete h4 {
    text-decoration: line-through;
    color: #767676;
    transition: 0.2s; }
  /* line 147, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  .task-complete:hover {
    background-color: #E7F4DD;
    border-color: #60C247; }
    /* line 150, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
    .task-complete:hover .task-control .button {
      border-color: #60C247; }

/* line 156, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
.json-data-display {
  border: 1px solid #AFAFAF; }

/* line 160, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
.ghost-button {
  background-color: transparent;
  border: 1px solid #AFAFAF;
  outline: none;
  font-weight: 600;
  margin-bottom: 10px; }
  /* line 166, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
  .ghost-button:hover {
    border-color: #00a2ff; }

/* line 171, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
.repeated-item.ng-enter, .repeated-item.ng-leave {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative; }

/* line 181, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
.repeated-item.ng-leave.ng-leave-active,
.repeated-item.ng-enter {
  transform: rotateX(90deg);
  transform-origin: center;
  opacity: 0;
  max-height: 0; }

/* line 189, C:/Users/gorkah/angularjs-todo/stage2/css/main.scss */
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-leave {
  transform: rotateX(0deg);
  transform-origin: center;
  opacity: 1;
  max-height: 90px; }

/*# sourceMappingURL=main.css.map */