<div class="task-container row" ng-class="{ 'task-complete': task.status }" ui-sortable>
    <div class="task-info col-9">
        <div class="task-main">
            <h4>{{ task.name }}</h4>
            <small>due {{ task.due | date }}</small>
        </div>
        <p>{{ task.description }}</p>
    </div>
    <div class="task-control col-3">
       <div class="row">
            <div class="complete button col-6" ng-click="changeStatus($index)" ng-cloak>
                <div class="shown">
                    <p><i class="fa fa-lg" ng-class="{ 'fa-check': !task.status, 'fa-clock-o' : task.status }"></i></p>
                </div>
                <div class="hidden">
                    <p>{{ task.status == 0 ? "Done" : "Due" }}</p>
                </div>
            </div>

            <div class="delete button col-6" ng-click="removeTask($index)">
                <div class="shown">
                    <p><i class="fa fa-lg fa-trash-o"></i></p>
                </div>
                <div class="hidden">
                    <p>Trash</p>
                </div>
            </div>
        </div>
    </div>
</div>